@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css);
html {
  overflow-x: hidden;
}

body {
  text-align: center;
  background-color: #ffebe2;
  line-height: 2;
  color: #171717;
  overflow-x: hidden;
  font-family: nitalago-rera, sans-serif;
  font-weight: 100;
  font-style: normal;
}

body p {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #171717;
}

img {
  vertical-align: bottom;
}

.container {
  padding: 0 15px;
}

@media (min-width: 900px) {
  .container {
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
  }
}

section {
  margin-bottom: 100px;
}

section p {
  text-align: left;
}

@media (min-width: 600px) {
  section p {
    text-align: center;
  }
}

h2 {
  font-size: 20px;
  line-height: 1;
  margin-bottom: 10px;
}

@media (min-width: 900px) {
  h2 {
    font-size: 30px;
  }
}

@media (min-width: 900px) {
  h3 {
    font-size: 20px;
  }
}

.center {
  text-align: center;
  line-height: 1;
  margin-bottom: 20px;
}

@media (min-width: 900px) {
  .pc-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.pc-br {
  display: none;
}

@media (min-width: 900px) {
  .pc-br {
    display: inline;
  }
}

.btn-ticket {
  margin: 0 auto;
}

.btn-ticket a {
  margin: 0 auto;
  line-height: 50px;
  border-radius: 50px;
  height: 50px;
  width: 320px;
  color: #fff;
  display: block;
  background-color: #e50058;
  position: relative;
}

@media (min-width: 900px) {
  .btn-ticket a {
    font-size: 20px;
    line-height: 60px;
    height: 60px;
    width: 400px;
  }
}

.btn-ticket a::after {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../images/arrow-w.png);
  background-size: contain;
  vertical-align: middle;
  background-repeat: no-repeat;
  margin-left: 20px;
  margin-bottom: 5px;
}

@media (min-width: 900px) {
  .btn-ticket a::after {
    width: 30px;
    height: 30px;
  }
}

header {
  height: 47px;
  width: 100%;
  z-index: 100;
  margin: 0 auto;
  position: fixed;
  top: 0;
}

header img {
  position: absolute;
  height: 30px;
  top: 10px;
  left: 5%;
  z-index: 100;
}

@media (min-width: 900px) {
  header img {
    left: 15%;
  }
}

header .burger-menu {
  width: 30px;
  height: 23px;
  display: block;
  position: absolute;
  top: 10px;
  right: 5%;
  cursor: pointer;
  z-index: 100;
}

@media (min-width: 900px) {
  header .burger-menu {
    right: 15%;
  }
}

header .burger-menu span {
  position: absolute;
  width: 30px;
  height: 3px;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  background-color: #e50058;
  border-radius: 3px;
}

header .burger-menu, header .burger-menu span {
  display: inline-block;
  transition: all .5s;
  box-sizing: border-box;
}

header .burger-menu span:nth-of-type(1) {
  top: 0px;
}

header .burger-menu span:nth-of-type(2) {
  top: 50%;
}

header .burger-menu span:nth-of-type(3) {
  bottom: -3px;
}

header #burger.active span:nth-of-type(1) {
  transform: translateY(13px) translateX(-10px) rotate(-315deg);
}

header #burger.active span:nth-of-type(2) {
  opacity: 0;
}

header #burger.active span:nth-of-type(3) {
  transform: translateY(-10px) translateX(-10px) rotate(315deg);
}

nav {
  display: block;
  position: relative;
  z-index: 90;
}

nav ul {
  position: fixed;
  width: 100%;
  transition: all .5s;
  opacity: 0;
  transform: translateY(-100%);
  top: 47px;
}

nav .nav-in {
  opacity: 1;
  transform: translateY(0);
}

nav li img {
  width: 40%;
  max-width: 250px;
}

nav li:last-child {
  display: block;
  height: 100vh;
  background-color: rgba(229, 0, 88, 0.7);
}

nav a {
  display: block;
  color: #fff;
  background-color: rgba(229, 0, 88, 0.7);
  height: 50px;
  line-height: 50px;
}

nav a:hover {
  background-color: rgba(229, 0, 88, 0.9);
}

.mv {
  text-align: center;
  padding: 0 10px;
  margin: 0 auto 100px;
}

@media (min-width: 900px) {
  .mv {
    max-width: 1300px;
    position: relative;
  }
}

.mv .logo {
  width: 50%;
  max-width: 381px;
}

@media (min-width: 900px) {
  .mv .logo {
    width: 30%;
    max-width: 381px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50%;
  }
}

.mv .mv-wrap {
  display: flex;
  justify-content: space-between;
  margin: 40px auto;
}

@media (min-width: 900px) {
  .mv .mv-wrap {
    width: 80%;
  }
}

.mv .mv-wrap > img:last-child {
  margin-top: 80px;
}

@media (min-width: 900px) {
  .mv .mv-wrap > img:last-child {
    margin: 0;
  }
}

.mv .mv-wrap img {
  width: 40%;
  height: 40%;
  max-width: 230px;
}

@media (min-width: 900px) {
  .mv .mv-wrap img {
    width: 230px;
  }
}

@media (min-width: 900px) {
  .mv p {
    margin-top: 160px;
  }
}

@media (min-width: 900px) {
  .mv .mv-w2 {
    justify-content: space-around;
    width: 70%;
  }
}

.mv-c {
  max-width: 1000px;
}

.mv-c img {
  width: 25%;
  max-width: 220px;
  position: absolute;
}

@media (min-width: 900px) {
  .mv-c img {
    width: 20%;
  }
}

.mv-c .c-momo {
  top: 250px;
  left: 20px;
}

@media (min-width: 900px) {
  .mv-c .c-momo {
    left: 15%;
  }
}

.mv-c .c-budou {
  top: 540px;
  right: 10px;
}

@media (min-width: 900px) {
  .mv-c .c-budou {
    right: 15%;
    width: 18%;
  }
}

@media (min-width: 900px) {
  .about p {
    font-size: 18px;
  }
}

@media (min-width: 900px) {
  .about .icon {
    display: flex;
    justify-content: center;
  }
}

.about .icon div {
  display: flex;
  justify-content: center;
}

.about .icon img {
  width: 70px;
  display: block;
  margin: 5px;
}

@media (min-width: 900px) {
  .about .icon img {
    width: 130px;
  }
}

.about-c {
  position: relative;
}

.about-c img {
  position: absolute;
  width: 70%;
  max-width: 300px;
  top: 50px;
  right: 0;
}

@media (min-width: 900px) {
  .about-c img {
    max-width: 300px;
  }
}

.kanransya {
  position: relative;
  text-align: left;
}

.kanransya #k-parent {
  position: relative;
  transform-origin: center;
  width: 313px;
  height: 313px;
  left: 0px;
}

@media (min-width: 900px) {
  .kanransya #k-parent {
    transform-origin: center;
    width: 467px;
    height: 467px;
    left: 0;
  }
}

.kanransya .child {
  transform-origin: center;
}

.kanransya img {
  position: absolute;
}

.kanransya .jiku {
  width: 181px;
  left: 70px;
  top: 140px;
}

@media (min-width: 900px) {
  .kanransya .jiku {
    top: 220px;
    width: auto;
    left: 100px;
  }
}

.kanransya .kao {
  width: 161px;
  left: 75px;
  top: 75px;
  z-index: 30;
}

@media (min-width: 900px) {
  .kanransya .kao {
    top: 120px;
    width: auto;
    left: 115px;
  }
}

.kanransya .kaiten {
  width: 313px;
  top: 0;
  left: 0px;
}

@media (min-width: 900px) {
  .kanransya .kaiten {
    width: auto;
    left: 0;
  }
}

.kanransya .k-momo {
  width: 120px;
  left: 170px;
  top: -70px;
}

@media (min-width: 900px) {
  .kanransya .k-momo {
    top: -100px;
    width: auto;
    left: 260px;
  }
}

.kanransya .k-budou {
  width: 150px;
  left: 260px;
  top: 100px;
  z-index: 30;
}

@media (min-width: 900px) {
  .kanransya .k-budou {
    top: 135px;
    width: auto;
    left: 395px;
  }
}

.kanransya .k-ichigo {
  width: 110px;
  left: 180px;
  top: 240px;
  z-index: 30;
}

@media (min-width: 900px) {
  .kanransya .k-ichigo {
    width: auto;
    top: 360px;
    left: 280px;
  }
}

.kanransya .k-nashi {
  width: 120px;
  left: 10px;
  top: 240px;
  z-index: 30;
}

@media (min-width: 900px) {
  .kanransya .k-nashi {
    top: 360px;
    width: auto;
    left: 20px;
  }
}

.kanransya .k-banana {
  width: 113px;
  left: -60px;
  top: 80px;
  z-index: 30;
}

@media (min-width: 900px) {
  .kanransya .k-banana {
    top: 110px;
    width: auto;
    left: -70px;
  }
}

.kanransya .k-mikan {
  width: 114px;
  left: 20px;
  top: -70px;
  z-index: 30;
}

@media (min-width: 900px) {
  .kanransya .k-mikan {
    top: -85px;
    left: 50px;
    width: auto;
  }
}

#btn-c {
  display: block;
  position: fixed;
  bottom: 50px;
  right: 0px;
  width: 20%;
  max-width: 135px;
  min-width: 70px;
  cursor: pointer;
  z-index: 999;
}

.slide {
  position: relative;
  text-align: center;
}

.slide img {
  height: 100%;
  position: fixed;
  transition: all .4;
  z-index: 99999;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -150%);
}

@media (min-width: 900px) {
  .slide img {
    width: auto;
    height: auto;
  }
}

.slide-in {
  animation-name: slide-in;
  animation-duration: 0.5s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.slide-out {
  animation-name: slide-out;
  animation-duration: 0.4s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes slide-in {
  0% {
    top: 0%;
    left: 50%;
    transform: translate(-50%, -100%);
  }
  100% {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes slide-out {
  0% {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    top: 100%;
    transform: translate(-50%, 100%);
  }
}

@keyframes katakata {
  10% {
    transform: rotate(0deg);
    left: -50px;
    top: -30px;
  }
  20% {
    transform: rotate(5deg);
    left: -50px;
    top: -30px;
  }
  25% {
    transform: rotate(-5deg);
    left: -50px;
    top: -30px;
  }
  30% {
    transform: rotate(5deg);
    left: -50px;
    top: -30px;
  }
  50% {
    transform: rotate(0deg);
    left: 300px;
    top: 50px;
  }
  55% {
    transform: rotate(5deg);
    left: 300px;
    top: 50px;
  }
  70% {
    transform: rotate(-5deg);
    left: 400px;
    top: 50px;
  }
  80% {
    transform: rotate(5deg);
    left: 400px;
    top: 50px;
  }
  85% {
    transform: rotate(-5deg);
    left: 400px;
    top: 50px;
  }
  100% {
    transform: rotate(0deg);
    left: 400px;
    top: 50px;
  }
}

@keyframes katakata-pc {
  10% {
    transform: rotate(0deg);
    left: -400px;
    top: -30px;
  }
  20% {
    transform: rotate(5deg);
    left: -400px;
    top: -30px;
  }
  30% {
    transform: rotate(-5deg);
    left: -40px;
    top: -30px;
  }
  40% {
    transform: rotate(5deg);
    left: -60px;
    top: -30px;
  }
  50% {
    transform: rotate(0deg);
    left: 500px;
    top: 50px;
  }
  55% {
    transform: rotate(5deg);
    left: 500px;
    top: 60px;
  }
  70% {
    transform: rotate(-5deg);
    left: 500px;
    top: 70px;
  }
  80% {
    transform: rotate(5deg);
    left: 500px;
    top: 80px;
  }
  85% {
    transform: rotate(-5deg);
    left: 500px;
    top: 80px;
  }
  100% {
    transform: rotate(0deg);
    left: 500px;
    top: 80px;
  }
}

@keyframes puripuri {
  0% {
    top: 20px;
    left: 50%;
  }
  10% {
    transform: rotate(3deg);
  }
  14% {
    transform: rotate(-3deg);
  }
  18% {
    transform: rotate(3deg);
  }
  22% {
    transform: rotate(-3deg);
  }
  26% {
    transform: rotate(3deg);
  }
  30% {
    top: 20px;
    left: 50%;
  }
  50% {
    left: 0px;
    top: 40px;
  }
  100% {
    left: 0px;
  }
}

@keyframes puripuri-pc {
  0% {
    top: 20px;
    left: 50%;
  }
  10% {
    transform: rotate(3deg);
  }
  14% {
    transform: rotate(-3deg);
  }
  18% {
    transform: rotate(3deg);
  }
  22% {
    transform: rotate(-3deg);
  }
  26% {
    transform: rotate(3deg);
  }
  30% {
    top: 20px;
    left: 50%;
  }
  50% {
    left: 0px;
    top: -70px;
  }
  100% {
    left: -70px;
  }
}

@keyframes pyon {
  0% {
    left: 50%;
  }
  30% {
    top: -50px;
    left: 100px;
  }
  60% {
    top: 70px;
    left: 50%;
  }
  100% {
    top: -50px;
    left: 300px;
  }
}

@keyframes poyooon {
  0% {
    transform: scale(1, 1) translate(0%, 0%);
  }
  5% {
    transform: scale(0.9, 0.9) translate(0%, 5%);
  }
  20% {
    transform: scale(1.3, 0.8) translate(0%, 10%);
  }
  30% {
    transform: scale(0.8, 1.3) translate(0%, -10%);
  }
  40% {
    transform: scale(1.1, 0.9) translate(0%, 5%);
  }
  50% {
    transform: scale(1, 1) translate(0%, 0%);
    top: 0px;
    left: 0px;
  }
  70% {
    top: 70px;
    left: 0px;
  }
  75% {
    transform: scale(0.9, 0.9) translate(0%, 5%);
    top: 70px;
    left: 0px;
  }
  80% {
    transform: scale(1.3, 0.8) translate(0%, 10%);
    top: 70px;
    left: 0px;
  }
  85% {
    transform: scale(0.8, 1.3) translate(0%, -10%);
    top: 70px;
    left: 0px;
  }
  90% {
    transform: scale(1.1, 0.9) translate(0%, 5%);
    top: 70px;
    left: 0px;
  }
  100% {
    transform: scale(1, 1) translate(0%, 0%);
    top: 70px;
    left: 0px;
  }
}

@keyframes poyooon-pc {
  0% {
    transform: scale(1, 1) translate(0%, 0%);
    left: -60px;
  }
  5% {
    transform: scale(0.9, 0.9) translate(0%, 5%);
    left: -60px;
  }
  20% {
    transform: scale(1.3, 0.8) translate(0%, 10%);
    left: -60px;
  }
  30% {
    transform: scale(0.8, 1.3) translate(0%, -10%);
    left: -60px;
  }
  40% {
    transform: scale(1.1, 0.9) translate(0%, 5%);
    left: -60px;
  }
  50% {
    transform: scale(1, 1) translate(0%, 0%);
    top: 0px;
    left: -200px;
  }
  70% {
    top: 70px;
    left: -200px;
  }
  75% {
    transform: scale(0.9, 0.9) translate(0%, 5%);
    top: 70px;
    left: -200px;
  }
  80% {
    transform: scale(1.3, 0.8) translate(0%, 10%);
    top: 70px;
    left: -200px;
  }
  85% {
    transform: scale(0.8, 1.3) translate(0%, -10%);
    top: 70px;
    left: -200px;
  }
  90% {
    transform: scale(1.1, 0.9) translate(0%, 5%);
    top: 70px;
    left: -200px;
  }
  100% {
    transform: scale(1, 1) translate(0%, 0%);
    top: 70px;
    left: -200px;
  }
}

.fc-momo {
  display: block;
  position: absolute;
  z-index: -1;
  width: 150px;
  top: 20px;
  left: 50%;
  animation: puripuri 3s alternate infinite;
}

@media (min-width: 900px) {
  .fc-momo {
    animation: puripuri-pc 3s alternate infinite;
  }
}

.fc-budou {
  display: block;
  position: absolute;
  z-index: -1;
  width: 150px;
  left: 50%;
  top: 0px;
  animation: katakata 2.5s infinite;
}

@media (min-width: 900px) {
  .fc-budou {
    animation: katakata-pc 2.5s infinite;
  }
}

.fc-banana {
  display: block;
  position: absolute;
  z-index: -1;
  height: 200px;
  top: 20px;
  left: 50%;
  animation: pyon 2s alternate infinite;
}

.fc-nashi {
  display: block;
  position: absolute;
  z-index: -1;
  width: 150px;
  animation: poyooon 1.5s linear infinite;
}

@media (min-width: 900px) {
  .fc-nashi {
    animation: poyooon-pc 1.5s linear infinite;
  }
}

.fc-mikan {
  display: block;
  position: absolute;
  z-index: -1;
  width: 200px;
  top: 20px;
  left: 50%;
  animation: puripuri 2s infinite;
}

@media (min-width: 900px) {
  .fc-mikan {
    animation: puripuri-pc 2s infinite;
  }
}

.fc-ichigo {
  display: block;
  position: absolute;
  z-index: -1;
  width: 120px;
  left: 50%;
  top: 0px;
  animation: katakata 5s infinite;
}

.fruit {
  margin-top: 400px;
}

@media (min-width: 900px) {
  .fruit {
    margin-top: 300px;
  }
}

.fruit > img {
  width: 100%;
  max-width: 830px;
}

@media (min-width: 900px) {
  .fruit .pc-flex {
    max-width: 800px;
    margin: 0 auto;
  }
}

.fruit .fruit-item {
  margin-top: 20px;
  position: relative;
}

.fruit .fruit-item figure {
  overflow: hidden;
  margin: 0 auto 10px;
  font-size: 14px;
  width: 230px;
  height: 230px;
  background-color: #fff;
}

.fruit .fruit-item figure figcaption {
  text-align: left;
  padding: 0 10px;
}

.processing img {
  width: 300px;
}

@media (min-width: 600px) {
  .processing img {
    width: 50%;
    max-width: 502px;
  }
}

.processing .pc-flex {
  width: 300px;
  margin: 20px auto;
}

@media (min-width: 600px) {
  .processing .pc-flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 600px) {
  .processing .pc-flex p, .processing .pc-flex h3 {
    text-align: left;
    margin-left: 20px;
  }
}

@media (min-width: 600px) {
  .processing .reverse {
    flex-direction: row-reverse;
  }
}

.amusement a {
  line-height: 50px;
  margin: 20px auto;
  display: block;
  width: 200px;
  height: 50px;
  background-color: #fff;
  border: #707070 1px solid;
  border-radius: 50px;
}

@media (min-width: 900px) {
  .amusement .pc-flex {
    width: 670px;
    margin: 0 auto;
  }
}

.amusement .a-photo {
  display: flex;
  justify-content: center;
}

.amusement .a-photo img {
  width: 33%;
  max-width: 250px;
}

.restaurant {
  background-color: #fff;
  padding: 40px 10px;
}

.restaurant .slider {
  margin: 0 auto 40px;
  width: 100%;
}

@media (min-width: 600px) {
  .restaurant .slider {
    width: 500px;
  }
}

@media (min-width: 900px) {
  .restaurant .slider {
    width: 600px;
  }
}

.restaurant .slider .slick-prev:before,
.restaurant .slider .slick-next:before {
  color: #707070;
}

.restaurant .slider img {
  max-width: 100%;
}

@media (min-width: 900px) {
  .restaurant .pc-flex {
    flex-direction: row-reverse;
  }
}

@media (min-width: 900px) {
  .restaurant .pc-flex p {
    text-align: left;
  }
}

.restaurant .pc-flex img {
  width: 40%;
  max-width: 200px;
  margin: 20px 0;
}

.restaurant a {
  display: block;
  border: #707070 1px solid;
  border-radius: 40px;
  width: 160px;
  height: 40px;
  line-height: 40px;
  margin: 20px auto 0;
}

.restaurant a::after {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../images/arrow-lg.png);
  background-size: contain;
  vertical-align: middle;
  background-repeat: no-repeat;
  margin-left: 20px;
  margin-bottom: 5px;
}

.park-map img {
  width: 100%;
  max-width: 900px;
  margin: 20px 0;
}

.park-map a {
  display: block;
  border: #707070 1px solid;
  border-radius: 40px;
  width: 170px;
  height: 40px;
  line-height: 40px;
  margin: 20px auto 0;
  background-color: #fff;
}

.park-map a::after {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../images/arrow-lg.png);
  background-size: contain;
  vertical-align: middle;
  background-repeat: no-repeat;
  margin-left: 20px;
  margin-bottom: 5px;
}

.gift img {
  margin: 20px 0;
}

.gift .pc-flex .goods {
  width: 100%;
  margin-top: 5px;
}

@media (min-width: 600px) {
  .gift .pc-flex .goods {
    width: 400px;
  }
}

@media (min-width: 900px) {
  .gift .pc-flex p {
    text-align: left;
  }
}

.gift a {
  display: block;
  color: #ff8900;
  border: #ff8900 1px solid;
  border-radius: 40px;
  width: 230px;
  height: 40px;
  line-height: 40px;
  margin: 20px auto 0;
  background-color: #fff;
}

.gift a::after {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../images/arrow-o.png);
  background-size: contain;
  vertical-align: middle;
  background-repeat: no-repeat;
  margin-left: 20px;
  margin-bottom: 5px;
}

.ticket .btn-green a {
  display: block;
  color: #3ba367;
  border: #3ba367 1px solid;
  border-radius: 40px;
  width: 300px;
  height: 40px;
  line-height: 40px;
  margin: 20px auto 0;
  background-color: #fff;
}

.ticket .btn-green a::after {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../images/arrow-g.png);
  background-size: contain;
  vertical-align: middle;
  background-repeat: no-repeat;
  margin-left: 10px;
  margin-bottom: 5px;
}

.ticket .t-wrap {
  background-color: #fff;
  padding: 20px 3%;
  max-width: 500px;
  margin: 0 auto;
}

.ticket .t-wrap ul {
  display: flex;
  justify-content: space-between;
}

.ticket .t-wrap ul li:last-child p {
  text-align: right;
}

@media (min-width: 900px) {
  .ticket .t-wrap ul li:first-child p {
    text-align-last: left;
  }
}

@media (min-width: 900px) {
  .access {
    width: 670px;
    margin: 100px auto;
  }
}

.access p {
  text-align: center;
  margin: 20px 0;
  line-height: 1;
}

@media (min-width: 900px) {
  .access .pc-flex {
    justify-content: center;
  }
}

.access .btn-blue a {
  display: block;
  color: #0099c7;
  border: #0099c7 1px solid;
  border-radius: 40px;
  width: 270px;
  height: 40px;
  line-height: 40px;
  margin: 20px auto 0;
  background-color: #fff;
}

.access .btn-blue a::after {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../images/arrow-b.png);
  background-size: contain;
  vertical-align: middle;
  background-repeat: no-repeat;
  margin-left: 10px;
  margin-bottom: 5px;
}

@media (min-width: 900px) {
  .access .btn-blue a {
    margin-left: 20px;
  }
}

.footer-c {
  position: relative;
}

.footer-c img {
  position: absolute;
  width: 25%;
  max-width: 150px;
  top: -70px;
  right: 5%;
}

@media (min-width: 900px) {
  .footer-c img {
    top: -130px;
  }
}

footer {
  padding-top: 20px;
  background-color: #aece7c;
}

@media (min-width: 900px) {
  footer {
    padding-top: 60px;
  }
}

footer img {
  width: 130px;
  margin-bottom: 40px;
}

@media (min-width: 900px) {
  footer img {
    width: 200px;
  }
}

footer .pc-flex {
  margin-bottom: 40px;
}

@media (min-width: 900px) {
  footer .pc-flex {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
  }
}

footer ul {
  display: flex;
  justify-content: space-around;
}

footer ul li a {
  text-align: left;
  display: block;
}

@media (min-width: 900px) {
  footer ul {
    width: 60%;
  }
}

footer small {
  font-size: 12px;
}
